<html>	
	<head> 
		<link rel="stylesheet" href="style.css"/> 
		<title> Ratebook </title> 
	</head>
	<body>
		<div id="wrapper">
			<div id="header"> <h1> Ratebook </h1> </div>
			
<div id="wrapper1">
			
			<div id="contant"> ${contant} </div>
				
			
			
			<div id="sidebar"> 
				<ul> 
					<li> <a href="#"> authors </a> </li> 
					<li> <a href="#"> types of books </a> </li> 
					<li> <a href="#"> rates </a> </li> 
				</ul>		
			</div>
			
</div>
			<div id="footer"> made by Alexey </div>
			
		</div>
	</body>	
</html>

